<!DOCTYPE html>
<html lang="es">
    {% if pag.titulo == "" %}{% set pag_titulo = '' %}{% else %}{% set pag_titulo = ' - ' + pag.titulo %}{% endif %}
    {% set titulo = cfg.metadatos.titulo + pag_titulo %}
    {% set url_img_compartir =  cfg.urls.posversobienal + cfg.metadatos.imagen_compartir  %}
    <head>
        <meta charset="utf-8">

        <meta content="ie=edge" http-equiv="x-ua-compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="true" name="HandheldFriendly">
        <meta content="width" name="MobileOptimized">
        <meta content="on" http-equiv="cleartype">

        <title>{{ titulo }}</title>

        <meta content="{{ cfg.metadatos.descripcion }}" name="description">
	    <meta content="index, follow" name="robots">

	    <meta property="og:image" content="{{ url_img_compartir }}">
		<meta property="og:image:secure_url" content="{{ url_img_compartir }}">
	    <meta property="og:image:type" content="image/jpg">
		<meta property="og:image:width" content="600" />
		<meta property="og:image:height" content="600" />
	    <meta property="og:title" content="{{ titulo }}">
	    <meta property="og:site_name" content="{{ cfg.metadatos.dominio }}">
	    <meta property="og:description" content="{{ cfg.metadatos.descripcion }}">
	    <meta property="og:locale" content="es_AR">

	    <link rel="canonical" href="{{ cfg.urls.posversobienal }}">
	    <link rel="image_src" href="{{ url_img_compartir }}">


        <!-- bootstrap  -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

        <!-- estilo personalizado -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap" rel="stylesheet">

        <link href="/lib/css/estilo.css" rel="stylesheet">

        <link rel="shortcut icon" href="{{ cfg.metadatos.favicon }}" type="image/x-icon" />

    </head>
    <body>
        <div class="menu">
            <nav class="d-flex justify-content-center">
                <ul>
                    <li>
                        <a class="logo posverso" href="/">
                            <img class="d-block" src="{{ cfg.metadatos.logo_posverso_a }}" title="POSVERSO">
                        </a>
                    </li>
                    {% for it in cfg.menu %}

                    <li class="{% if it.url == '' %} desactivado{% endif %}"><a href="{{ it.url }}">{{ it.titulo }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </div>

        <div class="container cuerpo">
            {% block body %}{% endblock %}
        </div>

        <footer class="text-center">
            <p class="d-inline-block mx-3">
                <a href="/">
                    <img class="img-fluid fx-invert" width="40px" src="{{ cfg.metadatos.logo_posverso_a }}" title="POSVERSO">
                </a>
            </p>

            <span class="text-light">por</span>

            <p class="d-inline-block mx-3">

                <a href="{{ cfg.urls.hoteldadabase }}">
                    <img class="img-fluid fx-invert" width="30px" src="{{ cfg.metadatos.logo_hoteldada_a }}" title="Hotel DaDA">
                </a>
            </p>

            <span class="text-light">·</span>


            <p class="d-inline-block text-uppercase text-small mx-3">Web actualizada: {{ cfg.actualizacion }}</p>
        </footer>
    </body>
</html>
