{% extends "base.html" %}

{% block body %}
<div class="bitacora">
    <br><br><br><br>
    <div class="container contenido mb-4">
        <div class="row">
            <div class="col-12 col-lg-4 pe-4 me-4 text-center">
                {% for  imagen in pag.fotos %}
                <img class="col-8 col-lg-12 img-fluid boton" src="/rec/bitacora/{{ imagen }}?{{ cfg.cache_actu }}" onclick="ampliarImagen(this)">
                <br><br>
                {% endfor %}
                <br>
            </div>
            <div class="ms-4 ps-4 col-7">
                <p>Publicado el <i>{{ pag.fecha }}</i> a las <i>{{ pag.hora }}</i></p>
                <h1>{{ pag.titulo }}</h1>

                <div class="py-4 border-top border-secondary">
                    {% if pag.contenido %}
                    {{ markdown(pag.contenido) }}

                    {% elif pag.detalle %}
                    {{ markdown(pag.detalle) }}

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if pag.galeria   %}
    <div class="galeria d-flex flex-wrap justify-content-center">
        {% for it in pag.galeria %}
        <img class="miniatura boton" src="{{ it.url }}" title="{{ it.titulo }}" onclick="ampliarImagen(this)">
        {% endfor %}
    </div>
    {% endif %}
    <div class="text-center py-5">
        <a href="/bit/" class="btn btn-outline-dark fx-ampliar">Historial completo de NOVEDADES</a>
    </div>
</div>

<script>
 function ampliarImagen(el){
     window.location.href = el.attributes['src'].value;
 }
</script>

{% endblock %}
