{% extends "base.html" %}

{% block body %}
<div class="container contenido mb-4">
    <header class="my-5 text-center">
        <h1>{{ pag.titulo }}</h1>
    </header>

    <div class="d-flex wrap">
        <div class="flex-fill">
            <a href="{{ pag.imagen_url }}" class="text-center">
                <img src="{{ pag.imagen }}">
                <br><small>{{ pag.imagen_autor }}</small>
            </a>
        </div>

        <section class="flex-fill {{ pag.estilo }}">
            {{ markdown(pag.contenido) }}
        </section>
    </div>

</div>
{% endblock %}
