{% extends "base.html" %}

{% block body %}
<div class="container contenido mb-4">
    <header class="my-5 text-center">
        <h1>{{ pag.titulo }}</h1>
    </header>

    <div class="row">
        <div class="col-lg-5 pe-4 me-4">
            <img src="{{ pag.imagen }}">
            <br><small><code class="text-dark">(*) {{ pag.imagen_autoria }}</code></small>
        </div>
        <section class="ms-4 ps-4 col-lg-6 {{ pag.estilo }}">
            {{ markdown(pag.contenido) }}
        </section>
    </div>

</div>
{% endblock %}
