{% extends "base.html" %}

{% block body %}
{% if 'imagen_cabecera' in pag %}
<div class="">
    <img src="{{ pag.imagen_cabecera }}" class="img-fluid">
</div>
{% endif %}
<div class="container contenido">

    <header class="my-5">
        <h1 class="text-center">{{ pag.titulo }}</h1>
    </header>

    <div class="row">
        <section class="{{ pag.estilo }} col-lg-12">
            {{ markdown(pag.contenido) }}
            <div class="en-2-columnas">
                {% for k, v in pag.listado.items() %}
                <div class="item m-2 border border-black rounded-2">
                    <div><img src="{{ v.foto }}" class="img-fluid"></div>
                    <br><div class="p-4">
                        <h3 class="text-center"><a href="{{ v.link }}">{{ v.nomb }}</a></h3>
                        <div class="text-small">{{ markdown(pag.biografias[k]) }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

    </div>
</div>
{% endblock %}
