{% extends "base.html" %}

{% block body %}

{% if 'imagen_cabecera' in pag %}
<div class="">
    <img src="{{ pag.imagen_cabecera }}" class="img-fluid">
</div>
{% endif %}
<div class="container contenido">

    <header class="my-5">
        <h1 class="text-center">{{ pag.titulo }}</h1>
    </header>

    <div class="row">

        <section class="{{ pag.estilo }} col-lg-12">
            <div>{{ markdown(pag.contenido) }}</div>
            <br><br>

            <div id="lista" class="en-2-columnas participantes-evento-teorico">
                {% for k, v in pag.listado.items() %}
                <div class="item m-2 border border-black rounded-2">
                    <div><img src="{{ v.foto }}" class="img-fluid"></div>
                    <br>
                    <div class="p-4">
                        <h3 class="text-center"><a href="{{ v.link }}">{{ v.nomb }}</a></h3>
                        <div class="bio">{{ markdown(pag.biografias[k]) }}</div>
                        <div class="text-center pt-3"><button name="ampliar_bio" class="btn-ampliar" title="Ampliar/Acotar texto"></button></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>

    </div>
</div>
<br><br><hr>
<h2 id="cronograma" class="text-center">Cronograma de Eventos teóricos</h2>
<div class="border border-dark m-5 p-5">
    <div class="cronograma" id="cronograma_completo_aqui" data-cfg='{"menu_filtrado": false, "filtro_x_tipo": ["Charla", "Evento Teórico"], "eliminar_ocultos": true }'></div>
</div>
<script src="/lib/js/acc-cronograma.js?{{ cfg.cache_actu }}"></script>

<script>
 let btns_ampliacion_bio = document.querySelectorAll("[name=ampliar_bio]");
 btns_ampliacion_bio.forEach(el => {
     el.addEventListener('click', ev => {
         el.classList.toggle('ampliado');
         el.parentElement.parentElement.querySelector('.bio').classList.toggle('ampliado');
     })
 });
</script>
{% endblock %}
