{% extends "base.html" %}

{% block body %}
{% if 'imagen_cabecera' in pag %}
<div class="">
    <img src="{{ pag.imagen_cabecera }}" class="img-fluid">
</div>
{% endif %}
<div class="container contenido">

    <header class="my-5">
        <h1 class="text-center">{{ pag.titulo }}</h1>
    </header>

    <div class="row">
        <section class="{{ pag.estilo }} col-lg-8">
            {{ markdown(pag.contenido) }}
        </section>

        {% if 'contenido_secundario' in pag %}
        <section class="{{ pag.estilo_cnt_sec }} ms-4 ps-4 border-start border-gray col-lg-3">
            {{ markdown(pag.contenido_secundario) }}
        </section>
        {% endif %}

        <section class="lista_mediacion_educativa">
            <br><hr>
            <h2 id="lista">Eventos educativos</h2>
            <br><br>
            <ul>
                {% for nid in pag.lista %}
                {% set dat = datos_de('mediacion_educativa', nid) %}
                <li class="item">
                    <div class="miniatura">
                        <img class="img-fluid" src="/rec/mediacion_educativa/{{ dat.fotos[0] }}?{{ cfg.cache_actu }}">
                    </div>
                    <div class="info">
                        <div>{{ dat.fecha }} - {{ dat.hora }}</div>
                        <h5>{{ dat.titulo }}</h5>
                        {% if dat.detalle %}<div>{{ dat.detalle }}</div>{% endif %}
                        {% if dat.etiquetas %}
                        <ul class="etiquetas">
                            {% for et in dat.etiquetas %}
                            <li>{{ et }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="pe-4"><a class="btn btn-dark" href="{{ dat.url }}"><b>+</b></a></div>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section class="{{ pag.estilo }} col-lg-8">
            {{ markdown(pag.contenido_talleres) }}
        </section>

    </div>
</div>
{% endblock %}
