{% extends "base.html" %}

{% block body %}
<div class="persona">
    {% for partk, partv in pag.fotos.items() %}
    {% if partv.obra %}
        <div id="obra_{{ partk }}" class="oculto participacion">
            <div class="img-cabecera item-galeria" style="background-position:{{ partv.imagen_cabecera_posicion_inicial }}; background-image: url(/rec/foto/obras/{{ partv.obra }}?{{ cfg.cache_actu }})" src="/rec/foto/obras/{{ partv.obra }}?{{ cfg.cache_actu }}" title=""></div>
            <div class="text-end">
                <button title="Ver obra completa" class="m-1 btn btn-sm btn-outline-dark ampliar-imagen px-1 py-0" data-url="/rec/foto/obras/{{ partv.obra }}?{{ cfg.cache_actu }}">+</button>
            </div>
        </div>
        {% endif %}
    {% endfor %}


    <br><br><br><br>
    <div class="container contenido mb-4">
        <div class="row">
            <div class="col-12 col-lg-4 pe-4 me-4 text-center">
                {% for partk, partv in pag.fotos.items() %}
                {% if partv.persona %}

                <img id="perfil_{{ partk }}" class="oculto participacion col-8 col-lg-12 img-fluid item-galeria" src="/rec/foto/personas/{{ partv.persona }}?{{ cfg.cache_actu }}" title="">
                    {% endif %}
                {% endfor %}

                {% if pag.web %}
                <p class="my-2">
                    <a href="{{ pag.web }}" target="_blank">Web oficial</a>
                </p>
                {% endif %}
                <br><br>
            </div>
            <div class="col-11 ms-4 ps-8 col-lg-7">
                <h1>{{ pag.nombre }} {{ pag.apellido }}</h1>
                <p>{{ pag.nacionalidad }}</p>
                <hr>
                <div class="">
                    {% if pag.detalle %}
                    {{ markdown(pag.detalle) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/js/acc-persona-artista.js?{{ cfg.cache_actu }}"></script>
<script>
 function getQueryParams(data) {
     const params = new URLSearchParams(data);
     const result = {};

     for (const [key, value] of params) {
         // Si ya existe una entrada con esa clave, la convertimos en array
         if (result.hasOwnProperty(key)) {
             if (Array.isArray(result[key])) {
                 result[key].push(value);
             } else {
                 result[key] = [result[key], value];
             }
         } else {
             result[key] = value;
         }
     }

     return result;
 }

 var data_query = getQueryParams(window.location.hash.replace('#', '?'));

 var ids_participaciones = {{ pag.fotos.keys() | list }};
 var id_participacion = '{{ pag.fotos.keys() | list | last }}';
 var id_participacion_solicitada = data_query['p'];

 if(ids_participaciones.includes(id_participacion_solicitada)){
     id_participacion = id_participacion_solicitada;
 }
 var obra_actual = document.getElementById(`obra_${id_participacion}`);
 var perfil_actual = document.getElementById(`perfil_${id_participacion}`);
 obra_actual.classList.remove('oculto');
 perfil_actual.classList.remove('oculto');

 var participaciones_a_borrar = document.querySelectorAll('.oculto.participacion')
 participaciones_a_borrar.forEach(e => e.remove());

 console.log(participaciones_a_borrar)

</script>

{% endblock %}
