{% extends "base.html" %}

{% block body %}
<div class="persona">
    <div class="img-cabecera" style="background-position:{{ pag.imagen_cabecera_posicion_inicial }}; background-image: url(/rec/foto/obras/{{ pag.fotos.obra }})">
    </div>
    <div class="text-end">
        <button title="Ver obra completa" class="m-1 btn btn-sm btn-outline-dark ampliar-imagen px-1 py-0" data-url="/rec/foto/obras/{{ pag.fotos.obra }}">+</button>
    </div>

    <br><br><br><br>
    <div class="container contenido mb-4">
        <div class="row">
            <div class="col-12 col-lg-4 pe-4 me-4 text-center">
                <img class="col-8 col-lg-12 img-fluid" src="/rec/foto/personas/{{ pag.fotos.persona }}?{{ cfg.cache_actu }}">
                {% if pag.web %}
                <p class="my-2">
                    <a href="{{ pag.web }}" target="_blank">Web oficial</a>
                </p>
                {% endif %}
                <br><br>
            </div>
            <div class="col-11 ms-4 ps-8 col-lg-7">
                <h1>{{ pag.nombre }} {{ pag.apellido }}</h1>
                <p>{{ pag.nacionalidad }}</p>
                <hr>
                <div class="">
                    {% if pag.detalle %}
                    {{ markdown(pag.detalle) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/lib/js/init-persona-artista.js"></script>

{% endblock %}
