{% extends "base.html" %}

{% block body %}
<div class="persona">
    <br><br><br><br>
    <div class="container contenido mb-4">
        <div class="row">
            <div class="col-12 col-lg-4 pe-4 me-4 text-center">
                <img class="col-8 col-lg-12 img-fluid item-galeria" src="/rec/foto/personas/{{ pag.fotos.persona }}?{{ cfg.cache_actu }}">

                <div class="text-start movile-text-center">
                    {% if pag.web %}
                    <p class="my-2">
                        <a href="{{ pag.web }}" target="_blank"><img src="/rec/grafica/icon-www_linea.svg" height="20"> Página web</a>
                    </p>
                    {% endif %}

                    {% if pag.instagram %}
                    <p class="my-2">
                        <a href="{{ pag.instagram[1] }}" target="_blank"><img src="/rec/grafica/icon-instagram_linea.svg" height="20"> {{ pag.instagram[0] }}</a>
                    </p>
                    {% endif %}
                </div>

                <br><br>
            </div>
            <div class="col-11 ms-4 ps-8 col-lg-7">
                <h1>{{ pag.nombre }} {{ pag.apellido }}</h1>
                <p>{{ pag.nacionalidad }}</p>
                <hr>
                <div class="">
                    {% if pag.detalle %}
                    {{ markdown(pag.detalle) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
