* {
    font-family: 'Archivo', sans-serif;
}

html, body {
    min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}


a {
    text-decoration: none;
    color: #333;
    margin-bottom: 3px;
    border-bottom: 2px dotted #aaa;

    &:hover{
        border-color: #000;
    }

    &.no-decoration {
        border: none!important;
    }
}


.menu {
    background: #000;
    display: flex;
    text-align: center;
    padding: 40px 0;
    margin-bottom: 10px;



    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: auto;

        li {
            padding: 0 20px;
            display: inline-block;

            a {
                color: #fff;
                border-color: #aaa;
                &:hover {
                    border-color: #eee;
                }
            }
            &.desactivado {
                _display: none;

                a {
                    opacity: 0.5;
                    cursor: default;
                    border: none;
                }
            }


            .logo {
                &.posverso {
                    img {
                        width: 70px;
                    }
                }
            }

        }
    }
}




header {
    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {

            &.posverso {
                width: 30%;
            }

            &.hoteldada {
                margin-left: 40%;
                width: 15%;
            }
        }
    }
}

.destacado-portada {
    background: #fff;
    color: #fff;

    p {
        color: #000;
    }
}

.cuerpo {
  flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
    padding: 20px;
    background: #000;

    * {
        color: #fff;
    }
}


.fx-invert {
    filter: invert(1);
}
.text-small {
    font-size: 0.8em;
}

.foto-izq-parrafo {
    width: 200px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.foto-obra-chica {
    display: block;
    width: 200px;
}


/* para página: portada */
#fondo_img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    background-position: top center;
    background-size: cover;
    opacity: 0.5;
    transition: 1s all;

    &.resaltar {
        opacity: 1;
    }
}
#fondo_link {
    position: fixed;
    right: 10px;
    top: 30%;
    border: 1px #000 solid;
    box-shadow: 0 0 10 rgba(255,255,255,0.4);
    border-radius: 14px;
    padding: 2px 8px;
    font-weight: 900;

    &:hover {
        background: #000;
        color: #fff;
    }
}

#titular {
    transition: 1s all;

    &.ocultar {
        opacity: 0.1;
    }
}

.bloque-izq-contacto {
    float: left;
    padding-right: 100px;
}


@import url("responsive.less");
