* {
    font-family: 'Archivo', sans-serif;
    word-break: break-word;
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  &.contador {
      .obra {
          .creditos{
              position: relative;

              span {
                  font-family: monospace;
                  font-size: 0.85em;
              }
              b {
                  display: inline-block;
                  display: none;
                  position: absolute;
                  top: 0;
                  left: 0;
                  font-weight: normal;
                  font-size: 0.85em;
                  min-width: 200px;
                  font-family: monospace;
              }
          }
          &:hover {
              span { display: none; }
              b { display: inline-block; }
          }
      }

  }

  &.bloqueado {
      overflow: hidden;
  }
}




a {
    text-decoration: none;
    color: #333;
    margin-bottom: 3px;
    border-bottom: 2px dotted #aaa;

    &:hover{
        border-color: #000;
    }

    &.no-decoration {
        border: none!important;
    }
}



[lang=en] {
    _display: none;
}

/* menu superior - general */
.menu {
    background: #000;
    display: flex;
    text-align: center;
    padding: 60px 0;

    .items-movile {
        b { display: none; }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0 10px;
        width: auto;

        li {
            padding: 0 15px;
            display: inline-block;
            position: relative;

            span {
                color: #ddd;
                cursor: default;
                &.smi {
                    color: #444;
                }
            }

            a {
                color: #ddd;
                border: none;
                &:hover {
                    color: #fff;
                }
            }

            &.desactivado {
                _display: none;

                a {
                    opacity: 0.5;
                    cursor: default;
                    border: none;
                }
            }

            .submenu {
                z-index: 1000;
                background: #222;
                box-shadow: 0 10px 10px rgba(0,0,0,.2);
                padding: 10px;
                text-align: left;
                position: absolute;
                top: 22px;
                margin-left: 15px;
                left: 0;
                display: none;

                li {
                    padding: 3px 10px;
                    border-bottom: 0.5px solid #444;
                    display: block;
                    white-space: pre;

                    a {
                        display: block;
                    }
                }
            }
            &.hover, &:hover {
                .submenu {
                    display: inline-block;
                }
            }

            .logo {
                &.posverso {
                    img {
                        width: 140px;
                    }
                }
            }
        }
    }
}




header {
    .logos {
        display: flex;
        align-items: center;
        justify-content: center;
        .logo {

            &.posverso {
                width: 30%;
            }
        }
    }
}

.destacado-portada {
    background: #fff;
    color: #fff;

    p {
        color: #000;
    }
}

.cuerpo {
  flex: 1 0 auto;
}

.contenido {
    blockquote {
        p {
            font-style: italic;
            &.cita:before {
                content: "« ";
                font-size: 1.1em;
                line-height: 1em;
                color: #888;
            }
            &.cita:after {
                content: " »";
                font-size: 1.1em;
                line-height: 1em;
                color: #888;
            }
        }
    }
}

footer {
    margin-top: 70px;
    border-top: 0.6px solid #000;
    padding: 80px 20px 50px 20px;
    background: #fff;
    position: relative;

    * {
        color: #000;
    }

    a {
        border: none;

        &:hover {
            opacity: 0.8;
        }
    }
    .utiles {
        position: absolute;
        bottom: 0;
        right: 0;

        .menu-pie {
            margin: 0;
            padding: 4px 4px;
            background: #000;
            border-top-left-radius: 9px;
            * {
                color: #fff!important;
                text-align: left;
                display: block;
                font-size: 0.9em;
                line-height: 1.5em;;
            }
            nav {
                display:none;
                padding: 20px;
            }
            &:hover nav { display: inline-block; }
        }
    }

}


.fx-invert {
    filter: invert(1);
}
.fx-transp-70 {
    opacity: 0.7;
}
.fx-ampliar {
    transition: transform 0.5s;
    &:hover {
        transform: scale(1.05);
    }
}


.lang {
    padding-top: 20px;
}
.lang-eng {
    font-style: italic;
    font-size: 0.9em;
}

.text-small {
    font-size: 0.8em;
}

.foto-izq-parrafo {
    width: 200px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.foto-obra-chica {
    display: block;
    width: 200px;
}

.w0p { width: 0px; }
.w75p { width: 75px; }
.w100p { width: 100px; }
.w200p { width: 200px; }
.w250p { width: 250px; }
.w300p { width: 300px; }
.w400p { width: 400px; }

.w100 { width: 400%; }

.h75p { height: 75px; }
.h100p { height: 100px; }
.h150p { height: 150px; }
.h200p { height: 200px; }
.h300p { height: 300px; }


.no-flota {
    opacity: 0;
    width: 100%;
    float: none;
    clear: both;
}


/* para página: portada */
#fondo_img {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    overflow: hidden;
    background-position: top center;
    background-size: cover;
    opacity: 0.5;
    transition: 1s all;

    &.resaltar {
        opacity: 1;
    }
}
#fondo_link {
    position: fixed;
    right: 10px;
    top: 30%;
    border: 1px #000 solid;
    box-shadow: 0 0 10 rgba(255,255,255,0.4);
    border-radius: 14px;
    padding: 2px 8px;
    font-weight: 900;

    &:hover {
        background: #000;
        color: #fff;
    }
}


#titular {
    transition: 1s all;
    &.ocultar {
        opacity: 0.1;
    }
}

.bloque-izq-contacto {
    float: left;
    padding-right: 100px;
}

.lista-subrayada {
    ul {
        padding: 0;
        margin-bottom: 30px;
        li {
            list-style: none;
            padding: 3px 0;
            border-bottom: 0.5px solid #bbb;
            margin: 0;
        }
    }

}

.titulares-reducidos {
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.3em; }
}

.persona {
    .img-cabecera {
        width: 100%;
        height: calc(100vw / 2.5);
        overflow: hidden;
        background: #ddd;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }
}

.icono {
    width: 25px;
    display: inline-block;
}


.con-lista-en-columnas {
    ul {
        column-count: 3;
        column-gap: 20px;
    }
}

.en-2-columnas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    div.item {
        width: 30%;
    }
}



.socios {

    a {
        border: none;

        .logo_socio {
            border-bottom-width: 2px;

            &:hover {
                border-bottom-style: dashed;
            }
        }

    }


    .logo_socio {
        width: 200px;
        display: inline-block;
        border: 1px solid;
        margin: 10px;
        border-radius: 10px;
    }

}

#menu-permanente {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    padding: 3px 6px;
    padding-left: 15px;
    background: #000;
    display: block;
    border-bottom-left-radius: 9px;

    a {
        border: none;
    }
    * {
        color: #fff;
    }

    button {
        border: none;
        background: transparent;
    }

    .selector-idioma {
        position: relative;
        .submenu {
            position: absolute;
            top: 22px;
            right: -20px;
            display: none;
            background: #111;
            padding: 20px;

            button {
                display: block;

                &:hover {
                    opacity: 0.9;
                }
            }

        }
        &:hover .submenu {
            display: block;
        }
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    ul {
        margin: 0;
        padding: 0;
    }

}

.mostrar-si-pagina-desplazada {
    display: none!important;
}

body.pagina-desplazada {
    .mostrar-si-pagina-desplazada {
        display: block!important;
    }
}

#imagen_ampliada {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;;
    bottom: 0;
    background: rgba(0,0,0,0.95);
    padding: 20px;
    display: none;
    overflow-y: auto;

    .espacio_imagen {
        display: flex;
        justify-content: center;
    }
    &.activa {
        display: block;
    }
}

.alerta-traduccion {
    position: fixed;
    right: 0;
    bottom: 20%;
    background: #fa0;
    color: #000;
    padding: 10px;
    display: none;
    max-width: 150px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    span {
        display: none;
        font-size: 0.9em;
    }

    &.hover span, &:hover span {
        display: block!important;
    }

    &.traducida {
        display: inline-block;
    }
}

a.actual {
    opacity: 0.5;
}


.cuenta-regresiva {
    padding: 10px;
    background: #000;
    color: #ffF;
    text-align: center;
    animation: color-cr 10s infinite linear;

}

.galeria {
    align-items: flex-start;

    .miniatura {
        height: 200px;
        display: inline-block;
        margin: 5px;

    }
}

.item-galeria {
    cursor: pointer;

    &:hover {
        opacity: 0.95;
    }
}

.item-prensa {
    display: flex;
    flex-direction: row;
    margin-bottom:40px;
    border-bottom: 1px solid #ddd;

    .icono {
        width: 50px;
        height: 50px;
        margin-right: 20px;
        border-radius: 7px;
        overflow: hidden;
        background: transparent;
        position: relative;

        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.lista_publicaciones {
    > ul {
        margin: 0;
        padding: 0;

        .item {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 6px;
            margin: 5px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid #ddd;

            .info {
                width: 100%;
            }

            .etiquetas {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    display: inline-block;
                    border: 1px solid #888;
                    padding: 2px 5px 0 5px;
                    border-radius: 6px;
                    margin: 10px 5px;
                    cursor: pointer;

                    &:hover {
                        border-color: #222;
                    }
                }
            }
            .miniatura {
                width: 150px;
                margin-right: 20px;
                border-radius: 7px;
                overflow: hidden;
                background: transparent;
                position: relative;
            }
        }
    }
}


.lista_mediacion_educativa {
    > ul {
        margin: 0;
        padding: 0;

        .item {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 6px;
            margin: 5px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: 1px solid #ddd;

            .info {
                width: 100%;
            }

            .etiquetas {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    text-transform: uppercase;
                    font-size: 0.8em;
                    display: inline-block;
                    border: 1px solid #888;
                    padding: 2px 5px 0 5px;
                    border-radius: 6px;
                    margin: 10px 5px;
                    cursor: pointer;

                    &:hover {
                        border-color: #222;
                    }
                }
            }
            .miniatura {
                width: 150px;
                margin-right: 20px;
                border-radius: 7px;
                overflow: hidden;
                background: transparent;
                position: relative;
            }
        }
    }
}

.participantes-evento-teorico {
    .item {
        .bio {
            display: block;
            white-space: wrap;
            width: 100%;
            height: 250px;
            overflow: hidden;
            font-size: 0.8em;
            text-overflow: "...";

            &.ampliado {
                overflow: visible;
                height: auto;
            }
        }

        .btn-ampliar {
            background: #000;
            padding: 0 6px;
            border-radius: 100%;
            color: #fff;
            border: none;
            cursor: pointer;
            font-family: monospace;
            width: 23px;
            height: 23px;
            &:hover {
                background: #222;
            }

            &:before {
                content: '+';
                font-weight: 900;
            }
            &.ampliado:before {
                content: '-';
            }

        }
    }
}

.boton {
    cursor: pointer;
}

.oculto {
    display: none;
}

.rounded-2 {
    overflow: hidden;
}

.programa_completo {
    .mes {
        margin: 0;
        padding: 30px 0;

        .mes_titulo {
            text-align: center;
            font-size: 1.8em;
            border-bottom: 1px solid #000;
        }

        .fechas {
            margin: 0;
            padding: 0;
            li {
                margin: 0 1rem;
                padding: 0;
                list-style: none;
                border-bottom: 1px solid #ccc;

                &:last-child {
                    border-bottom: none!important;
                }

                .evento {
                    margin: 20px 30px;

                    p {
                        margin: 0;
                        padding: 0;
                    }

                    h5.ev_titulo {
                        font-size: 1.4em;
                    }

                    .tipo {
                        font-size: 0.9em;
                        background: #000;
                        color: #fff;
                        text-transform: uppercase;
                        font-weight: bold;
                        padding: 3px 6px;
                        margin-right: 10px;

                        &:empty {
                            padding: 3px 10px;
                        }
                    }

                    .titulo {
                        font-size: 1.3em;
                    }

                    .texto {
                        font-size: 0.9em;
                    }
                }
            }

        }

    }

}

@keyframes color-cr {
    0%   { background: #000; color:#fff; }
    25%  { background: #888; color:#777; }
    50%  { background: #fff; color:#000; }
    75%  { background: #777; color: #888; }
    100% { background: #000; color:#fff; }
}



@import url("responsive.less");
